:80 {
    redir /dictconsistency /dictconsistency/ permanent
    redir /stopandgraph /stopandgraph/ permanent

    handle /_event/* {
        reverse_proxy dictconsistency:8000
    }
    handle /_upload {
        reverse_proxy dictconsistency:8000
    }
    handle /dictconsistency* {
        reverse_proxy dictconsistency:3000
    }
    handle_path /stopandgraph* {
        reverse_proxy stopandgraph:80
    }
    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}

:81 {
    handle /_event/* {
        reverse_proxy sgpredict:8000
    }
    handle /_upload {
        reverse_proxy sgpredict:8000
    }
    handle /* {
        reverse_proxy sgpredict:3000
    }
}