:80 {
    # Redirect ohne trailing slash
    redir /dictconsistency /dictconsistency/ permanent
    redir /sgpredict /sgpredict/ permanent
    redir /stopandgraph /stopandgraph/ permanent

    # dictconsistency app
    handle /dictconsistency* {
        # uri strip_prefix /dictconsistency
        reverse_proxy dictconsistency:3000
    }

    # sgpredict app
    handle /sgpredict* {
        reverse_proxy sgpredict:3000
    }

    # stopandgraph app
    handle_path /stopandgraph* {
        # uri strip_prefix /stopandgraph
        reverse_proxy stopandgraph:80
    }
    
    
    # Default: serve static files
    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}
