services:
  caddy:
    image: caddy:latest
    ports:
      - "8080:80"
      - "8081:81"

    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./html:/srv
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    networks:
      - dev-network
  
  dictconsistency:
    build: ./pdl-lt-dictconsistency
    ports:
      - "3001:3000"
    restart: unless-stopped
    networks:
      - dev-network

  sgpredict:
    build: ./pdl-lt-sg-predict
    ports:
      - "3003:3000"
    volumes:
      - ./pdl-lt-sg-predict/models:/app/models
    restart: unless-stopped
    networks:
      - dev-network

  stopandgraph:
    build: ./pdl-lt-stopandgraph
    ports:
      - "3002:80"
    restart: unless-stopped
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
